<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>ShoppingSite</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/login-servlet.xml,
            /WEB-INF/login-security.xml,
            /WEB-INF/login-service.xml
        </param-value>
	</context-param>
	
	<!--Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring Security -->
   	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Data source reference -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/shoppingsiteDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	
	<!-- Logging -->
	<listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<servlet>
		<description>Used for Loading the startup properties</description>
		<display-name>ShoppingSiteStartup</display-name>
		<servlet-name>ShoppingSiteStartup</servlet-name>
		<servlet-class>main.java.shoppingsite.startup.ShoppingSiteStartup</servlet-class>
		<!-- This will call init method of servlet during start up if value > 0 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<display-name>HttpProxyServlet</display-name>
		<servlet-name>HttpProxyServlet</servlet-name>
		<servlet-class>main.java.shoppingsite.service.secure.HttpProxyServlet</servlet-class>

		<init-param>
			<param-name>host</param-name>
			<param-value>https://localhost:9443/ShoppingSiteServices/</param-value>
		</init-param>

		<init-param>
			<param-name>certificate</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>log</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>uri</param-name>
			<param-value>/secure*</param-value>
		</init-param>

		<init-param>
			<param-name>keepHeaders</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>path</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>HttpProxyServlet</servlet-name>
		<url-pattern>/secure/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
        
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
  	
	<security-role>
		<role-name>friend</role-name>
	</security-role>

	<security-role>
		<role-name>User</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure connection</web-resource-name>
			<description>URL pattern specifies the URL to which security is applied</description>
			<url-pattern>/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>friend</role-name>
			<role-name>User</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description>SSL or MSSL not required</description>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
		
</web-app>